{% extends "index.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="/user/change-password/{{ user_password.id }}" novalidate>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Change Password</legend>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg", value=user_password.username) }}
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.password_hash.label(class="form-label") }}
                {% if form.password_hash.errors %}
                {{ form.password_hash(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password_hash.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.password_hash(class="form-control form-control-lg", value=user_password.password_hash) }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }} <button class="btn btn-outline-danger"><a href="{{ url_for('user') }}">Back</a></button>
        </div>
    </form>
</div>
<br><br><br><br>
{% endblock %}